src/main/plugin/iso19139.nrw/schema/extensions/nrw/nrw1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:srv="http://www.isotc211.org/2005/srv" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:nrw="http://naturalresources.wales/nrw" targetNamespace="http://naturalresources.wales/nrw" elementFormDefault="qualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Schema for Natural Resources Wales Metadata Profile v1</xs:documentation>
	</xs:annotation>
	<!-- <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="https://schemas.isotc211.org/schemas/19139/-/gmd/1.0/gmd.xsd"/> -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../../gmd/gmd.xsd"/>
	<!-- <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="https://schemas.isotc211.org/schemas/19139/-/gco/gco.xsd"/> -->
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../../gco/gco.xsd"/>
	<!-- <xs:import namespace="http://www.isotc211.org/2005/srv" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/srv/1.0/srv.xsd"/> -->
	<xs:import namespace="http://www.isotc211.org/2005/srv" schemaLocation="../../srv/srv.xsd"/>
	<!-- <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/> -->
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/gml.xsd"/>
	<!-- =========================================================================== -->

	<!-- Define element for Internal Location Info element. Extends gmd:distributionInfo -->
	<xs:element name="internalLocationInfo" type="nrw:internalLocationInfo_Type"/>
	<xs:complexType name="internalLocationInfo_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_Distribution_Type">
				<xs:sequence>
					<xs:element name="location" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Define element for Internal Contact Info element. Extends gmd:identificationInfo -->
	<xs:element name="internalContactInfo" type="nrw:internalContactInfo_Type"/>
	<xs:complexType name="internalContactInfo_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_DataIdentification_Type">
				<xs:sequence>
					<xs:element name="internalcontact" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>